<div class="location-map">
  <iframe id="mapFrame" src="/map" width="100%" height="574px" scrolling=no frameborder=no allowtransparency="true"></iframe>
  <div class="location-detail form-wrap">
    <div class="location-detail-item red-bg">
      <p class="small">Store Locator</p>
      <h4>Your ZIP code</h4>
      <input class="zip" id="zip" placeholder="03051" maxlength="8" >
    </div>
    <div class="location-detail-item grey-bg">
      <h4>Locations within</h4>
      <select name="miles" id="radius" class="miles">
        <option value="25">25 Miles</option>
        <option value="50">50 Miles</option>
        <option value="100">100 Miles</option>
      </select>
    </div>
  </div><!-- /.location-detail -->
</div><!-- /.location-map -->

<div class="detail-wrap detail-wrap--updated">
  <div id="locations" class="three-cols"></div>
</div>